build/
__pycache__/
*.pyc
tinyc/include/tclib.obj
tinyc/include/tclibz.obj
tests/*.i
tests/*.ir
tests/*.obj
tests/*.code
tinyc/*.i
tinyc/*.ir
tinyc/*.obj
examples/*.i
examples/*.ir
examples/*.obj
examples/*.code
